# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="database_url"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres_url"

GOOGLE_CLIENT_ID="your google client id"
GOOGLE_CLIENT_SECRET="your client secret"

AUTH_SECRET="your next auth secret"
NEXTAUTH_URL=

RESEND_API_KEY="your resend api key"

NEXT_PUBLIC_URL=

NEXT_DEVELOPMENT_URL="localhost:3000"

NEXT_PUBLIC_SUPABASE_URL="your supabase public url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your supabase anon key"

TRADING_ECONOMICS_API_KEY="your trading economics api key"

OPENAI_API_KEY="your openai api key"

GROQ_API_KEY="your groq api key"

BRAVE_SEARCH_API_KEY="your brave search api key"

SERPER_API_KEY="your serper api key"

OLLAMA_BASE_URL="you ollama base url"